<!DOCTYPE html>
<html lang="en">
	{% load static %}
	{% include 'head.html' %}


	<body>

           <!-- Topbar Start -->
		   <div class="container-fluid">
            <div class="row bg-secondary py-1 px-xl-5">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="d-inline-flex align-items-center h-100">
                        <a class="text-body mr-3" href="{% url 'ecomapp:home' %}">Home</a>
                        <a class="text-body mr-3" href="">About</a>
                        <a class="text-body mr-3" href="{% url 'ecomapp:allproducts' %}">categories</a>
                        <a class="text-body mr-3" href="{% url 'ecomapp:mycart' %}">Cart</a>
                        <a class="text-body mr-3" href="{% url 'ecomapp:contact' %}">Contact</a>
                        <a class="text-body mr-3" href="#">404</a>
                        
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light
                                dropdown-toggle" data-toggle="dropdown">My
                                Account</button>

                            <div class="dropdown-menu dropdown-menu-right">
                                {% if request.user.customer %}
                                <button class="dropdown-item" type="button"><a  href="{% url 'ecomapp:customerprofile' %}">My Profile</a></button>
                                <button class="dropdown-item" type="button"><a  href="{% url 'ecomapp:customerlogout' %}">Logout</a></button>
                                {% else %}
                                <button class="dropdown-item" type="button"><a  href="{% url 'ecomapp:registercustomer' %}">Register</a></button>
                                <button class="dropdown-item" type="button"><a  href="{% url 'ecomapp:customerlogin' %}">Login</a></button>
                                {%endif%}


                            </div>

                        </div>
                       
                    </div>
                    <div class="d-inline-flex align-items-center d-block
                        d-lg-none">
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-heart text-dark"></i>
                            <span class="badge text-dark border border-dark
                                rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark
                                rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center bg-light py-3 px-xl-5 d-none
                d-lg-flex">
                <div class="col-lg-4">
                    <a href="{% url 'ecomapp:home' %}" class="text-decoration-none">
                        <span class="h1 text-uppercase text-primary bg-dark
                            px-2">Multi</span>
                        <span class="h1 text-uppercase text-dark bg-primary px-2
                            ml-n1">Shop</span>
                    </a>
                </div>

                <div class="col-lg-4 col-6 text-left">
                    <form action="{% url 'ecomapp:search' %}" method="GET">
                        <div class="input-group">
                            <input name="keyword" class="form-control" placeholder="Search for products" type="search" aria-label="Search" required>
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </div>


                <div class="col-lg-4 col-6 text-right">
                    <p class="m-0">Customer Service</p>
                    <h5 class="m-0">+977 9825314955</h5>
                </div>
            </div>
        </div>
        <!-- Topbar End -->



		{% block content %}
		{% endblock %}


		{% include 'scripts.html' %}
	</body>

</html>
