{% extends 'base.html' %}
{% block title %}{{product.title}}{% endblock %}

{% block content %}
<style>

</style>
<div class="container">


    <!-- Product Review -->

    <h5 class="modal-title" id="exampleModalLabel">Add Product Review</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form method="post" id="addForm">
        <table class="table table-bordered">
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input type="reset" class="btn btn-dark" value="Reset"
                        id="reset" />
                </td>
            </tr>
        </table>
        <p class="ajaxRes"></p>
    </form>

    <!-- Product Review End -->

    <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="{{product.image.url}}" alt="" />
                    <h3>ZOOM</h3>
                </div>
                <div id="similar-product" class="carousel slide"
                    data-ride="carousel">



                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="row">
                            {% for pi in product.productimage_set.all %}
                            <div class="col-md-4 p-3">
                                <a href="{{pi.image.url}}" target="_blank">
                                    <img src="{{pi.image.url}}"
                                        class="img-fluid" style="height: 100px;
                                        object-fit: contain;" alt="">
                                </a>
                            </div>
                            {% endfor %}
                        </div>


                    </div>

                    <!-- Controls -->
                    <a class="left item-control" href="#similar-product"
                        data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right item-control" href="#similar-product"
                        data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>


            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <img src="images/product-details/new.jpg" class="newarrival"
                        alt="" />
                    <h2>{{product.title}} (Viewed {{product.view_count}} times)</h2>
                    <img src="images/product-details/rating.png" alt="" />
                    <span>
                        <h5>Price: <strike>Rs. {{product.marked_price}}</strike>
                            Rs. {{product.selling_price}}</h5>
                        {% for cp in cart.cartproduct_set.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{cp.product.title}}</td>
                            <td>{{cp.rate}}</td>
                            <td>{{cp.quantity}}</td>
                            <td>{{cp.subtotal}}</td>
                            <td>
                                <a href="{% url 'ecomapp:managecart' cp.id
                                    %}?action=inc" class="btn btn-primary"> +
                                </a>
                                <a href="{% url 'ecomapp:managecart' cp.id
                                    %}?action=dcr" class="btn btn-warning"> -
                                </a>
                                <a href="{% url 'ecomapp:managecart' cp.id
                                    %}?action=rmv" class="btn btn-danger"> x
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                        <a href="{% url 'ecomapp:addtocart' product.id %}" class="btn btn-info">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                            
                        
                    </span>

                    <p><b>Warranty:</b> {{product.warranty}}</p>
                    <p><b>Return Policy:</b> {{product.return_policy}}</p>
                    <p><b>Category:</b> {{product.category}}</p>
                    <p><b>Brand:</b> E-SHOPPER</p>
                    <a href=""><img src="images/product-details/share.png"
                            class="share img-responsive" alt="" /></a>
                    <p>{{product.description}}</p>
                </div><!--/product-information-->
            </div>

    <article>hi</article>


        </div><!--/product-details-->





        <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">recommended items</h2>

            <div id="recommended-item-carousel" class="carousel slide"
                data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend1.jpg"
                                            alt="" />
                                        <h2>$56</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <button type="button" class="btn
                                            btn-default add-to-cart"><i
                                                class="fa fa-shopping-cart"></i>Add
                                            to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <a class="left recommended-item-control"
                    href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control"
                    href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div><!--/recommended_items-->
        

    </div>

    <aside>

        <ul>
            <li>Delivery</li>
            <li>Standard Delivery</li>
            <li>Cash on delivery available</li>
            <li>service</li>
            <li>7 days Returns</li>
            <li>Warranty not available</li>

          </ul>
        
    </aside>






</div>
{% endblock %}
